.App {
  align-items: flex-start;
  background-color: yellowgreen;
  color: #22221F;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 20vh;
  width: 100%;
}
